.Home {
}

.Home .bg1 {
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(45deg, #6cbdaa, #8bd6ea);
}

.Home .bg1 .circle1 {
  position: absolute;
  filter: blur(5rem);
  top: -10%;
  left: -10%;
  width: 80%;
  height: 60%;
  background: radial-gradient(at top left, #7083bc 60%, transparent 80%);
}

.Home .bg1 .circle2 {
  position: absolute;
  filter: blur(5rem);
  position: absolute;
  left: 50%;
  right: -25.21%;

  bottom: -45.24%;
  border-radius: 100%;
  width: 80%;
  height: 100%;
  background: radial-gradient(#005683 50%, transparent 100%);
}

.Home .bg1 .circle3 {
  position: absolute;
  filter: blur(5rem);
  left: -8.49%;
  right: 42.14%;
  top: 34.04%;
  bottom: -19.94%;
  width: 80%;
  height: 90%;
  border-radius: 100%;
  background: radial-gradient(circle at center, #6cbdaa 80%, transparent 80%);

  /* background: radial-gradient(circle at center, #005683 40%, transparent 80%); */
}
